/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  font-size: 1.25em;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  }

  &:hover {
    color: $off-white;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }

  &.source-code {
    color: lighten($primary-color, 20%);
    &:hover {
      color: $lighter-accent-color;
    }
  }
}

/* Hero */
.cta-btn-hero {
  color: lighten($primary-color, 20%);
  border: 2px solid;
  //border after action
  border-image: linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    )
    1;
  cursor: pointer;

  a {
    color: black;
  }

  &::after {
    //background transition
    background-image: linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );
  }
}

/* contact */
.cta-btn-contact {
  color: $off-white;
  border: 2px solid $off-white;

  a {
    color: black;
  }

  &::after {
    background: $accent-color;
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
