#projects,
#history {
  background-color: $off-white;
  color: $dark-blue-text;
  padding: 5em 0 5em 0;

  .content-wrapper {
    .company-info-row {
      .col {
        color: $primary-color;
        text-align: center;
        @media (min-width: $small) {
          text-align: left;
        }
      }

      .date-col {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;

        @media (min-width: $small) {
          text-align: right;
        }
      }
    }

    .history-info-row,
    .project-info-row {
      margin-bottom: 5rem;

      @media (min-width: $small) {
        margin-bottom: 10rem;
      }
    }

    .project-text {
      text-align: center;
      padding-bottom: 1rem;

      @media (min-width: $large) {
        text-align: left;
        padding-bottom: 0;
      }
    }

    &__text {
      text-align: left;
      margin-bottom: 1em;

      &-title {
        font-weight: bold;
        font-size: 2rem;

        @media (min-width: $small) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      a {
        color: black;
      }

      & .thumbnail {
        border: none;
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);

        @media (min-width: $small) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }

        &:hover {
          transform: translate(0, -0.5rem);
          box-shadow: 0 32px 40px -28px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

#projects {
  //needed to fix clip-path issue
  margin-top: -25em;
  padding-top: 30em;
}

#history {
  margin-bottom: 0;
}

.list-group-item {
  border: none;
}
