footer {
  background: linear-gradient(to top, $dark-grey 45%, $primary-color 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  color: $off-white;
  padding-top: 10em;
  padding-bottom: 5em;
  position: relative;
  margin-top: -10em;
  overflow: hidden;

  @media (min-width: $small) {
    padding-top: 10em;
    min-height: 40em;
    background: linear-gradient(
      to top right,
      $dark-grey 45%,
      $primary-color 100%
    );
  }

  & hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}

.footer {
  &__text {
    color: $off-white;

    a {
      color: $lighter-accent-color;

      &:hover {
        color: $lightest-accent-color;
      }
    }
  }
}

.container {
  text-align: center;
}

.bounce-up {
  transition: all 0.2s ease-in;
  &:hover,
  &:active {
    transform: translateY(-0.15rem);
  }
}

.social-links {
  a {
    display: inline-block;
    vertical-align: bottom;
    margin: 1rem 0.5rem;
    svg {
      color: $off-white;
      height: 2rem;
      width: 2rem;
    }
  }
}

.up-arrow {
  margin: 1rem 0 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.contact-wrapper {
  margin-top: 3.2rem;
  padding: 0 2rem;
  backface-visibility: hidden;
  white-space: nowrap;

  &__text {
    margin-bottom: 2.5rem;
    font-size: 2rem;

    // Responsive for contact text
    @media (min-width: $small) {
      font-size: 3rem;
    }
  }

  a {
    font-size: 2rem;
  }
}

.contact-btn-container {
  width: 100%;

  .col:first-child {
    text-align: end;
  }

  .col {
    text-align: start;
  }
}
