#hero {
  width: 100%;
  min-height: 56rem;
  display: flex;
  align-items: start;
  background: linear-gradient(
    to bottom right,
    $dark-grey 45%,
    $primary-color 100%
  );
  color: $off-white;
  position: relative;
  background-color: $dark-grey;

  //makes diagonal edge to section
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  // set background image
  /* background: url("/src/assets/[your-image].png");
    background-position: center;
    background-size: cover; */

  @media (min-width: $small) {
    padding-top: 10em;
    min-height: 65em;
    background: linear-gradient(
      to bottom right,
      $dark-grey 45%,
      $primary-color 100%
    );
  }
  @media (min-width: $medium) {
    min-height: 60em;
    padding-top: 0;
    align-items: center;
  }

  .container {
    padding: 2em 1em;
    @media (min-width: $small) {
      padding-top: 0;
    }
  }

  .hero-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;

    @media (min-width: $small) {
      font-size: 3em;
      text-align: left;
    }
  }

  .hero-image {
    border-radius: 10%;
  }

  .hero-cta {
    & a {
      font-size: 2rem;

      @media (min-width: $small) {
        font-size: 2em;
      }
    }
  }

  .hero-btn-container {
    text-align: center;
    @media (min-width: $small) {
      text-align: start;
    }
  }

  .Typist {
    height: 9.5rem;
    @media (min-width: $small) {
      height: 25.2rem;
    }
    @media (min-width: $medium) {
      height: 21.6rem;
    }
    @media (min-width: $large) {
      height: 14.4rem;
    }
    @media (min-width: $extra-large) {
      height: 10.8rem;
    }
  }
}
