@use "sass:math";

.particle {
  border-radius: 50%;
  background: $accent-color;
}

#particle-container-hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline;
}

#particle-container-footer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  display: inline;
}

$num-particles: 60;

@for $i from 1 through $num-particles {
  @keyframes particle-animation-hero-#{$i} {
    100% {
      transform: translate3d(
        (random(100) * 1vw),
        (random(50) * 1vh),
        (random(100) * 1px)
      );
    }
  }

  @keyframes particle-animation-footer-#{$i} {
    100% {
      transform: translate3d(
        (random(100) * 1vw),
        (random(30) * 1vh),
        (random(100) * 1px)
      );
    }
  }

  #particle-container-hero .particle:nth-child(#{$i}) {
    animation: particle-animation-hero-#{$i} 60s infinite;
    $size: random(8) + 3 + px;
    opacity: math.div(random(80) + 20, 100);
    height: $size;
    width: $size;
    animation-delay: 0.2s;
    transform: translate3d(
      (random(100) * 1vw),
      (random(50) * 1vh),
      (random(100) * 1px)
    );
  }

  #particle-container-footer .particle:nth-child(#{$i}) {
    animation: particle-animation-footer-#{$i} 60s infinite;
    $size: random(8) + 3 + px;
    opacity: math.div(random(80) + 20, 100);
    height: $size;
    width: $size;
    animation-delay: 0.2s;
    transform: translate3d(
      (random(100) * 1vw),
      (random(30) * 1vh),
      (random(100) * 1px)
    );
  }
}
