#skills {
  background: $dark-grey;
  padding: 5rem 0 5rem 0;

  .row {
    margin-bottom: 50px;
    justify-content: space-evenly;
  }

  .col {
    margin-bottom: 2rem;
    flex: 0;

    @media (min-width: $large) {
      margin: 0rem;
    }
  }

  svg {
    margin: 0.63rem;
    color: $off-white;
    width: 6.25rem;
    height: 6.25rem;
    padding: 1rem;

    path {
      margin: 0.32rem;
    }
  }

  p {
    border-top: solid $off-white 1px;
    color: $off-white;
    padding-top: 0.32rem;
    padding-bottom: 0px;
    margin-bottom: 0.32rem !important;
    cursor: default;
  }

  h2 {
    color: $off-white;
    margin-bottom: 3.1rem;
  }

  .logo-card {
    border: solid $off-white 1px;
    width: fit-content;
    background-color: $light-grey;
    transition: all 0.4s ease-in;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  .gatsby-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem purple,
      0px 0px 4.7rem purple !important;
  }
  .react-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem blue,
      0px 0px 4.7rem blue !important;
  }
  .node-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem green,
      0px 0px 4.7rem green !important;
  }
  .mongo-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem green,
      0px 0px 4.7rem green !important;
  }
  .redux-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem blue,
      0px 0px 4.7rem blue !important;
  }
  .js-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem orange,
      0px 0px 4.7rem orange !important;
  }
  .python-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem blue,
      0px 0px 4.7rem blue !important;
  }
  .html-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem red,
      0px 0px 4.7rem red !important;
  }
  .css-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem blue,
      0px 0px 4.7rem blue !important;
  }
  .sass-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem pink,
      0px 0px 4.7rem pink !important;
  }
  .ruby-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem red,
      0px 0px 4.7rem red !important;
  }
  .csharp-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem purple,
      0px 0px 4.7rem purple !important;
  }
  .cplusplus-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem blue,
      0px 0px 4.7rem blue !important;
  }
  .java-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem red,
      0px 0px 4.7rem red !important;
  }
  .git-card:hover {
    box-shadow: 0px 0px 1.9rem $off-white, 0px 0px 3.4rem orange,
      0px 0px 4.7rem orange !important;
  }
}
