// COLORS
$primary-color: #3557ac;
$secondary-color: #5a7dd8;
$accent-color: darken(goldenrod, 10%);
$lighter-accent-color: lighten($accent-color, 10%);
$lightest-accent-color: lighten($accent-color, 30%);
$off-white: #faf9f6;
$dark-grey: #333333;
$light-grey: #4b4b4b;
$dark-blue-text: #1d2d44; // For Headings

//responsive
// Small devices (landscape phones, 576px and up)
$small: 576px;
// Medium devices (tablets, 768px and up)
$medium: 768px;
// Large devices (desktops, 992px and up)
$large: 992px;
// Extra large devices (large desktops, 1200px and up)
$extra-large: 1200px;
