@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

h1 {
  font-weight: 700;
}

p,
a,
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $small) {
    font-size: 3rem;
  }
}

.dark-blue-text {
  color: $dark-blue-text !important;
}

.text-color-main {
  color: $accent-color;
}

.lighter-text {
  color: $lighter-accent-color;
}

.history-title {
  text-align: center;
  margin-bottom: 1em;
  color: $accent-color;

  @media (min-width: $small) {
    text-align: left;
  }
}

.company-title {
  text-align: center;
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: 500;

  @media (min-width: $small) {
    text-align: left;
  }
}

.tech-title {
  text-align: center;
  margin-bottom: 0.5em;
  color: $primary-color;
  font-size: 1.25rem;

  @media (min-width: $small) {
    text-align: left;
  }
}
